In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_excel(r'C:\Users\Rookie\Desktop\数据分析面试题（最新）.xls',sheet_name='数据')

In [6]:
data_new = data.iloc[:,:7]
data_new

,order_id,group_id,time,terminal_id,position,start_time,end_time
0,AGV19120700809000012,g10234,2019-12-07 23:00:00,T-977,1,2019-12-07 23:07:00,2019-12-07 23:11:21
1,AGV19120700809000010,g10230,2019-12-07 23:00:00,T-977,5,2019-12-07 23:07:00,2019-12-07 23:23:46
2,AGV19120700809000008,g10233,2019-12-07 23:00:00,T-977,3,2019-12-07 23:07:00,2019-12-07 23:20:50
3,AGV19120700809000011,g10231,2019-12-07 23:00:00,T-977,4,2019-12-07 23:07:00,2019-12-07 23:22:09
4,AGV19120700809000009,g10232,2019-12-07 23:00:00,T-977,2,2019-12-07 23:07:00,2019-12-07 23:19:38
...,...,...,...,...,...,...,...
8258,AGV20011200809000185,g26681,2020-01-13 00:00:00,T-995,5,2020-01-13 00:56:14,2020-01-13 01:55:48
8259,AGV20011200809000190,g26678,2020-01-13 01:00:00,T-995,1,2020-01-13 01:03:38,2020-01-13 01:57:33
8260,AGV20011200809000229,g26686,2020-01-13 01:00:00,T-995,11,2020-01-13 01:04:56,2020-01-13 01:48:19
8261,AGV20011200809000183,g26667,2020-01-13 01:00:00,T-995,21,2020-01-13 01:09:36,2020-01-13 01:32:31
8262,AGV20011200809000249,g26716,2020-01-13 01:00:00,T-995,3,2020-01-13 01:11:04,2020-01-13 02:00:13

In [10]:
data_new.iloc[:,6]-data_new.iloc[:,5]

0      00:04:21
1      00:16:46
2      00:13:50
3      00:15:09
4      00:12:38
         ...
8258   00:59:34
8259   00:53:55
8260   00:43:23
8261   00:22:55
8262   00:49:09
Length: 8263, dtype: timedelta64[ns]